@font-face {
    font-family: "decor";
    src: url(../fonts/decor.eot);
    src: url(../fonts/decor.eot?) format("embedded-opentype"), url(../fonts/decor.woff) format("woff"), url(../fonts/decor.ttf) format("truetype"), url(../fonts/decor.svg#web) format("svg");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: "Austin News Deck Semibold";
    src: url("../fonts/Austin News Deck Web-Semibold.woff2") format("woff2"), url("../fonts/Austin News Deck Web-Semibold.woff") format("woff"), url("../fonts/Austin News Deck Web-Semibold.ttf") format("truetype"), url("../fonts/Austin News Deck Web-Semibold.eot"), url("../fonts/Austin News Deck Web-Semibold.svg") format("svg"), url("../fonts/Austin News Deck Web-Semibold.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Austin News Deck Semibold Italic';
    src: url('../fonts/AustinNewsDeck-SemiboldItalic.eot');
    src: url('../fonts/AustinNewsDeck-SemiboldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/AustinNewsDeck-SemiboldItalic.woff2') format('woff2'), url('../fonts/AustinNewsDeck-SemiboldItalic.woff') format('woff'), url('../fonts/AustinNewsDeck-SemiboldItalic.ttf') format('truetype'), url('../fonts/AustinNewsDeck-SemiboldItalic.svg#AustinNewsDeck-SemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Austin News Deck Roman";
    src: url("../fonts/Austin News Deck Web-Roman.woff2") format("woff2"), url("../fonts/Austin News Deck Web-Roman.woff") format("woff"), url("../fonts/Austin News Deck Web-Roman.ttf") format("truetype"), url("../fonts/Austin News Deck Web-Roman.eot"), url("../fonts/Austin News Deck Web-Roman.svg") format("svg"), url("../fonts/Austin News Deck Web-Roman.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Austin News Text Roman";
    src: url("../fonts/Austin News Text Web-Roman.woff2") format("woff2"), url("../fonts/Austin News Text Web-Roman.woff") format("woff"), url("../fonts/Austin News Text Web-Roman.ttf") format("truetype"), url("../fonts/Austin News Text Web-Roman.eot"), url("../fonts/Austin News Text Web-Roman.svg") format("svg"), url("../fonts/Austin News Text Web-Roman.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Telesans Text Regular";
    src: url("../fonts/Telesans Text Web-Regular.woff2") format("woff2"), url("../fonts/Telesans Text Web-Regular.woff") format("woff"), url("../fonts/Telesans Text Web-Regular.ttf") format("truetype"), url("../fonts/Telesans Text Web-Regular.eot"), url("../fonts/Telesans Text Web-Regular.svg") format("svg"), url("../fonts/Telesans Text Web-Regular.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "RobotoMono";
    src: url("../fonts/RobotoMono-Regular.woff2") format("woff2"), url("../fonts/RobotoMono-Regular.woff") format("woff"), url("../fonts/RobotoMono-Regular.ttf") format("truetype"), url("../fonts/RobotoMono-Regular.eot"), url("../fonts/RobotoMono-Regular.svg#RobotoMono-Regular") format("svg"), url("../fonts/RobotoMono-Regular.eot?#iefix") format("embedded-opentype");
    font-style: normal;
    font-weight: normal
}

amp-story-page {
    background-color: #ccc
}

amp-story-page:before {
    content: '';
    background: url(https://s.telegraph.co.uk/graphics/amp/stories/telegraph/telegraph_diamond_white.png) 0 0 / 60px no-repeat transparent;
    width: 60px;
    height: 60px;
    display: block;
    z-index: 10;
    position: absolute;
    top: 10px;
    left: 10px
}

amp-story-grid-layer.top {
    -ms-flex-line-pack: start;
    align-content: start;
    -ms-flex-align: start;
    align-items: start
}

amp-story-grid-layer.center {
    -ms-flex-line-pack: center;
    align-content: center;
    -ms-flex-align: center;
    align-items: center
}

amp-story-grid-layer.bottom {
    -ms-flex-line-pack: end;
    align-content: end;
    -ms-flex-align: end;
    align-items: end
}

amp-story-grid-layer.noedge {
    padding: 0
}

amp-story-cta-layer.mobile-only {
    display: block
}

* {
    font-family: "Austin News Deck Roman";
    font-size: calc(5.5 * var(--story-page-vw));
    line-height: calc(6 * var(--story-page-vw));
    font-weight: 500;
    color: #fff
}

[template="fill"] {
    color: #fff
}

.nextPrev:before,
.nextPrev:after {
    font-family: "decor";
    font-size: 40px;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 5px;
    pointer-events: none
}

.nextPrev:before {
    content: "\f104";
    left: 0;
    z-index: 200
}

.nextPrev:after {
    content: "\f105";
    right: 0;
    z-index: 200
}

@media(min-width:1024px) {
    .nextPrev:before,
    .nextPrev:after {
        font-size: 70px;
        padding: 0 10px;
        display: none
    }
}

.desktop-only {
    display: none
}

.mobile-only {
    display: block
}

.gradient-top-40 {
    background: linear-gradient(to top, transparent, transparent 40%, rgba(0, 0, 0, 0.8))
}

.gradient-bottom {
    background: linear-gradient(to bottom, transparent, transparent 15%, rgba(0, 0, 0, 0.75))
}

.gradient-top {
    background: linear-gradient(to top, transparent, transparent 60%, rgba(0, 0, 0, 0.8))
}

.gradient-bottom-start {
    background: linear-gradient(to bottom, transparent, transparent 15%, rgba(0, 0, 0, 0.35))
}

.padBtm {
    padding-bottom: 60px
}

.padTop {
    padding-top: 80px
}

.padTopNoMobile {
    padding-top: 0
}

.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff
}

.menu a {
    width: 50%;
    text-align: center;
    text-decoration: none;
    font-size: calc(4.2 * var(--story-page-vw));
    line-height: 1;
    font-family: "Telesans Text Regular", "Telesans Text", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 65px
}

.menu a:nth-child(1) {
    padding: 5px 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    flex-direction: initial
}

.menu a span {
    color: #000;
    display: block;
    padding: 0 10px 5px 0;
    font-size: 12px;
    line-height: 12px
}

.menu a.cta {
    background: #1b415b;
    color: #fff
}

.menu a.cta:after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 13px;
    background-image: url('https://s.telegraph.co.uk/graphics/amp/stories/telegraph/chevron.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 7px
}

.btyb-cover {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center
}

.btyb-cover span {
    font-family: "Telesans Text Web Regular", "Telesans Text", sans-serif;
    font-size: 12px;
    line-height: 12px;
    padding: 0 10px 0 0
}

.client-branding {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0 0 50px;
    margin: -20px 0 0 0
}

.client-branding .btyb-cover {
    display: flex;
    align-items: center;
    margin: 0
}

.client-branding .btyb-div {
    width: 1px;
    height: 20px;
    background: #929292;
    margin: 0 10px 0 10px
}

.client-branding .btyb-cover span {
    padding: 0 10px 0 0
}

.sideBarNav {
    background-color: #1d2053;
    padding: 20px
}

.sideBarNav h3 {
    font-size: 17px;
    line-height: 25px
}

.sideBarNav .bottom-menu {
    border-top: 1px solid #fff;
    margin-top: 20px;
    padding-top: 10px
}

.sideBarNav ul {
    margin: 20px 0 0 0;
    padding: 0
}

.sideBarNav ul li {
    font-size: 15px;
    line-height: 20px;
    list-style: none;
    margin: 0 0 20px 0
}

.sideBarNav ul li a {
    font-size: 15px;
    line-height: 20px;
    text-decoration: none
}

.sideBarNav ul li a:after {
    display: inline-block;
    content: "";
    width: 8px;
    height: 13px;
    background-image: url('https://s.telegraph.co.uk/graphics/amp/stories/telegraph/chevron.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: 7px
}

.sideBarNav .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 48px;
    height: 48px;
    opacity: 1;
    background: transparent;
    border: 0;
    cursor: pointer
}

.sideBarNav .close:before,
.sideBarNav .close:after {
    position: absolute;
    right: 22px;
    top: 20px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: #fff
}

.sideBarNav .close:focus {
    outline: 0
}

.sideBarNav .close:before {
    transform: rotate(45deg)
}

.sideBarNav .close:after {
    transform: rotate(-45deg)
}

@media(max-height:620px) {
    .menu {
        width: 100%
    }
    .menu a {
        height: 55px
    }
}

.menu amp-img {
    margin-bottom: 0;
    max-width: 55px
}

amp-story-page[active] .zoomIn {
    -webkit-animation: 'zoomIn' 18s forwards;
    animation: 'zoomIn' 18s forwards
}

amp-story-page[active] .zoomOut {
    -webkit-animation: 'zoomOut' 18s forwards;
    animation: 'zoomOut' 18s forwards
}

amp-story-page[active] .enter {
    -webkit-animation: 'enter' 18s forwards;
    animation: 'enter' 18s forwards
}

amp-story-page[active] .panIn {
    -webkit-animation: 'panIn' 18s forwards;
    animation: 'panIn' 18s forwards
}

amp-story-page[active] .growCircle {
    -webkit-animation: 'growCircle' 1s forwards;
    animation: 'growCircle' 1s forwards
}

amp-story-page[active] .leftToRight {
    -webkit-animation: 'leftToRight' 7s forwards;
    animation: 'leftToRight' 7s forwards
}

amp-story-page[active] .rightToLeft {
    -webkit-animation: 'rightToLeft' 7s forwards;
    animation: 'rightToLeft' 7s forwards
}

.circleArrowPath,
.circleArrowPathTwo {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 3px
}

amp-story-page[active] .circleArrowPath {
    animation: circleArrowPath 5s forwards;
    animation-delay: 1s
}

amp-story-page[active] .circleArrowPathTwo {
    animation: circleArrowPathTwo 5s forwards;
    animation-delay: 1.9s
}

@keyframes circleArrowPath {
    from {
        stroke-dashoffset: 1000
    }
    to {
        stroke-dashoffset: 0
    }
}

@keyframes circleArrowPathTwo {
    from {
        stroke-dashoffset: 1000
    }
    to {
        stroke-dashoffset: 0
    }
}

@media(max-width:749px) {
    amp-story-page[active] .zoomInMobile {
        -webkit-animation: 'zoomIn' 18s forwards;
        animation: 'zoomIn' 18s forwards
    }
    amp-story-page[active] .zoomOutMobile {
        -webkit-animation: 'zoomOut' 18s forwards;
        animation: 'zoomOut' 18s forwards
    }
}

@keyframes enter {
    0% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(1.2)
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes panIn {
    0% {
        height: 100%;
        width: 100%
    }
    100% {
        height: 200%;
        width: 200%
    }
}

@keyframes fadeInDesktop {
    0% {
        opacity: .2
    }
    100% {
        opacity: 1
    }
}

@keyframes growCircle {
    0% {
        transform: scale(0);
        opacity: .2
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

@keyframes leftToRight {
    0% {
        transform: scale(1.25) translate(-2.5%, 0)
    }
    100% {
        transform: scale(1.25) translate(0, 0)
    }
}

@keyframes rightToLeft {
    0% {
        transform: scale(1.25) translate(2.5%, 0)
    }
    100% {
        transform: scale(1.25) translate(0, 0)
    }
}

@media(min-width:750px) {
    amp-story-page:before {
        background-size: 80px;
        width: 80px;
        height: 80px;
        top: 20px;
        left: 20px
    }
    amp-story-grid-layer.desktop-top {
        -ms-flex-line-pack: start;
        align-content: start;
        -ms-flex-align: start;
        align-items: start
    }
    amp-story-grid-layer.desktop-center {
        -ms-flex-line-pack: center;
        align-content: center;
        -ms-flex-align: center;
        align-items: center
    }
    amp-story-grid-layer.desktop-bottom {
        -ms-flex-line-pack: end;
        align-content: end;
        -ms-flex-align: end;
        align-items: end
    }
    [class*="amphtml-story-grid-template-fill"].right>amp-img img,
    [class*="amphtml-story-grid-template-fill"].right>amp-video video {
        min-width: calc(50% - 60px);
        left: auto
    }
    [class*="amphtml-story-grid-template-fill"].left>amp-img img,
    [class*="amphtml-story-grid-template-fill"].left>amp-video video {
        min-width: calc(50% - 60px);
        right: auto
    }
    [class*="amphtml-story-grid-template-fill"].centered>amp-img img,
    [class*="amphtml-story-grid-template-fill"].centered>amp-video video {
        min-width: calc(50% - 60px);
        left: 0;
        right: 0
    }
    [class*="amphtml-story-grid-template-fill"].contain>amp-img img,
    [class*="amphtml-story-grid-template-fill"].contain>amp-video video {
        object-fit: contain
    }
    amp-story-grid-layer[template="vertical"].right {
        padding-left: calc(50% + 30px);
        max-width: 92%;
        justify-self: center
    }
    amp-story-grid-layer[template="vertical"].left {
        padding-right: calc(50% + 30px)
    }
    amp-story-page[active] .fadeInDesktop {
        -webkit-animation: 'fadeInDesktop' 5s forwards;
        animation: 'fadeInDesktop' 5s forwards
    }
    .padBtm {
        padding-bottom: 60px
    }
    .padTop {
        padding-top: 100px
    }
    .padTopNoMobile {
        padding-top: 100px
    }
    .desktopTopMobileBottom {
        grid-area: upper-third
    }
    .desktopTopMobileMiddle {
        grid-area: upper-third
    }
    .desktopBottomMobiletop {
        grid-area: lower-third
    }
    amp-story-cta-layer.mobile-only {
        display: none;
        visibility: hidden;
        height: 0;
        width: 0
    }
    .desktop-only {
        display: block
    }
    .mobile-only {
        display: none
    }
    .text-right {
        text-align: right
    }
    .text-center {
        text-align: center;
        margin: 0 auto;
        width: auto
    }
    .menu {
        max-width: 600px;
        background: transparent;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%)
    }
    .menu a {
        max-width: 500px;
        text-align: center
    }
    .menu a:nth-child(1) {
        padding: 15px 30px;
        background: #fff;
        flex-direction: row
    }
    .menu a span {
        color: #000;
        display: block;
        padding: 0 10px 0 0;
        font-size: 12px;
        line-height: 12px
    }
    .menu a.cta {
        font-size: 19px;
        line-height: 21px
    }
    .menu amp-img {
        margin-bottom: 0;
        max-width: 70px
    }
    .client-branding {
        padding: 0 0 20px 80px;
        margin: -15px 0 0 0
    }
}

.sideBarNav {
    background-color: #1d2053
}

#slide_1,
#slide_8 {
    background-color: #1d2053
}

#slide_2,
#slide_7 {
    background: #1d2053;
    background: -moz-linear-gradient(top, #1d2053 0, #37b1ab 100%);
    background: -webkit-linear-gradient(top, #1d2053 0, #37b1ab 100%);
    background: linear-gradient(to bottom, #1d2053 0, #37b1ab 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1d2053', endColorstr='#37b1ab', GradientType=0)
}

#slide_3,
#slide_6 {
    background: #32949a;
    background: -moz-linear-gradient(top, #32949a 0, #fff 100%);
    background: -webkit-linear-gradient(top, #32949a 0, #fff 100%);
    background: linear-gradient(to bottom, #32949a 0, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#32949a', endColorstr='#ffffff', GradientType=0)
}

#slide_4 {
    background: #e22657;
    background: -moz-linear-gradient(top, #e22657 0, #fff 100%);
    background: -webkit-linear-gradient(top, #e22657 0, #fff 100%);
    background: linear-gradient(to bottom, #e22657 0, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e22657', endColorstr='#ffffff', GradientType=0)
}

#slide_5 {
    background: #eb8b02;
    background: -moz-linear-gradient(top, #eb8b02 0, #fff 100%);
    background: -webkit-linear-gradient(top, #eb8b02 0, #fff 100%);
    background: linear-gradient(to bottom, #eb8b02 0, #fff 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#eb8b02', endColorstr='#ffffff', GradientType=0)
}

.btyb-cover amp-img {
    position: relative;
    max-width: 80px
}

.client-branding {
    margin: -45px 0 0 0
}

h1 {
    font-family: "Austin News Deck Semibold";
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px;
    margin-top: -50px
}

h2 {
    font-family: "Austin News Text Roman";
    font-size: 16px;
    line-height: 21px
}

h3 {
    font-size: 20px;
    line-height: 27px;
    font-family: "Austin News Deck Semibold"
}

h3 span {
    font-family: 'RobotoMono', monospace;
    font-size: 26px;
    line-height: 30px;
    display: table;
    padding: 10px 20px;
    margin: 10px 0
}

p {
    font-family: "Telesans Text Regular";
    font-size: 18px;
    line-height: 26px;
    padding: 20px 0
}

.extraPad {
    padding: 0 10px;
    max-width: 600px
}

#slide_1 .city img {
    object-fit: contain;
    margin: 35px 0 0 0
}

#slide_1 .grid-area {
    grid-area: lower-third / lower-third / lower-third / lower-third
}

#slide_1 .extraPad {
    max-width: 480px;
    width: 100%
}

#slide_1 amp-story-grid-layer[position=landscape-half-right] {
    height: 50%
}

#slide_2 .extraPad {
    padding-top: 20px
}

#slide_3 .extraPad {
    padding-top: 40px
}

#slide_4 .extraPad {
    padding-top: 40px
}

#slide_5 .extraPad {
    padding-top: 40px
}

#slide_6 .extraPad {
    grid-area: upper-third / upper-third / upper-third / upper-third
}

#slide_6 h3 {
    margin-top: -100px
}

#slide_7 .extraPad {
    padding-top: 20px
}

#slide_3 h3 span {
    background-color: #e51f53
}

#slide_4 h3 span {
    background-color: #fff;
    color: #3baca7
}

#slide_5 h3 span {
    background-color: #fff;
    color: #e51f53
}

.lastCopy {
    max-width: 680px;
    margin: -30px auto 0 auto
}

.client-branding-last {
    margin: 0 auto
}

.client-branding-last .btyb-cover {
    flex-direction: column
}

.client-branding-last .btyb-cover span {
    padding: 10px 0
}

.client-branding-last .btyb-cover amp-img {
    max-width: 140px
}

.readFull {
    display: flex
}

.readFull a {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #fff;
    position: relative;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    padding: 15px 30px
}

@media(min-width:750px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
        margin-top: 0
    }
    h2 {
        font-size: 17px;
        line-height: 25px
    }
    h3 {
        font-size: 40px;
        line-height: 47px
    }
    h3 span {
        font-size: 46px;
        line-height: 50px
    }
    p {
        font-size: 18px
    }
    .sideBarNav {
        width: 300px
    }
    .client-branding {
        margin: -25px 0 0 0
    }
    .btyb-cover amp-img {
        max-width: 100px
    }
    .extraPad {
        padding: 0 30px
    }
    #slide_1 .city img {
        object-fit: cover;
        margin-top: 0
    }
    #slide_1 amp-story-grid-layer[position=landscape-half-right] {
        height: 100%
    }
    #slide_1 .grid-area {
        grid-area: middle-third / middle-third / middle-third / middle-third
    }
    #slide_2 .extraPad {
        padding-top: 30px
    }
    #slide_3 .extraPad {
        padding-top: 50px
    }
    #slide_3 h3 {
        margin-top: 0
    }
    #slide_4 .extraPad {
        padding-top: 50px
    }
    #slide_5 .extraPad {
        padding-top: 50px
    }
    #slide_6 .extraPad {
        grid-area: middle-third / middle-third / middle-third / middle-third
    }
    #slide_6 h3 {
        margin-top: 0
    }
    #slide_7 .extraPad {
        padding-top: 30px
    }
    .readFull a {
        font-size: 20px;
        line-height: 20px;
        padding: 20px 35px
    }
}

.timeline-slider {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto
}

.timeline-slider .sliderContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    pointer-events: none
}

.timeline-slider .sliderContainer [data-v-576dda81] {
    position: absolute
}

.timeline-slider .sliderContainer .sliderRobotBehind {
    width: 130px;
    height: 210px;
    background-image: url(https://s.telegraph.co.uk/graphics/amp/stories/how-artifical-intelligence-can-help-business/assets/img/slider-robot-behind-01.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    top: 65%;
    left: 82%;
    transform: translate(calc(-50% + -8px), 20px);
    position: absolute
}

.timeline-slider .sliderContainer .sliderRobotFront {
    width: 130px;
    height: 210px;
    background-image: url(https://s.telegraph.co.uk/graphics/amp/stories/how-artifical-intelligence-can-help-business/assets/img/slider-robot-front-01.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    top: 65%;
    left: 82%;
    transform: translate(calc(-50% + -8px), 20px);
    position: absolute
}

.timeline-slider .sliderContainer .sliderPipe {
    height: 100%;
    width: 10px;
    left: 90%;
    transform: translateX(-50%);
    background: linear-gradient(90deg, #00a7de 50%, #40bcb1 0);
    position: absolute
}

.robotOnPlanet {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -5%) scale(0.8)
}

.goldenRobot {
    position: absolute;
    bottom: -230px;
    left: 50%;
    transform: translateX(-50%) scale(0.5)
}

.cuddleRobot {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.9)
}

.heroRobot {
    position: absolute;
    bottom: -300px;
    left: 50%;
    transform: translate(-50%, -5%) scale(0.5)
}

.boyTree {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) scale(1.1)
}

.robotina {
    position: absolute;
    bottom: 0;
    left: 55%;
    transform: translate(-49%, 40%) scale(0.3)
}

@media(min-width:750px) {
    .timeline-slider {
        height: calc(100 * var(--story-page-vw))
    }
    .timeline-slider .sliderContainer .sliderPipe {
        width: 15px;
        left: 50%
    }
    .timeline-slider .sliderContainer .sliderRobotBehind {
        top: 15%;
        left: 42%;
        background-size: cover
    }
    .timeline-slider .sliderContainer .sliderRobotFront {
        top: 15%;
        left: 42%;
        background-size: cover
    }
    .robotOnPlanet {
        transform: translate(-50%, -35%) scale(1)
    }
    .goldenRobot {
        bottom: -25%;
        left: 50%;
        transform: translateX(-50%) scale(1)
    }
    .cuddleRobot {
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%) scale(1.5)
    }
    .heroRobot {
        bottom: -200px;
        left: 50%;
        transform: translate(-50%, 0) scale(1)
    }
    .boyTree {
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%) scale(1.1)
    }
    .robotina {
        bottom: -110px;
        left: 60%;
        transform: translate(-50%, 0) scale(1)
    }
}

.nextPrev {
    /*display:none*/
}